{% extends 'base.html' %}

{% block content %}
<div class="d-flex">
    <h1 class="pt-3 px-3">{% block title %} {{ feed.title }} {% endblock
        %}</h1>
    <a class="ms-auto pt-4 px-4"
       href="{{ url_for('rss', feed_name=feed.name) }}">
        <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20"
             fill="currentColor" class="bi bi-rss-fill" viewBox="0 0 16 16">
            <path d="M2 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H2zm1.5 2.5c5.523 0 10 4.477 10 10a1 1 0 1 1-2 0 8 8 0 0 0-8-8 1 1 0 0 1 0-2zm0 4a6 6 0 0 1 6 6 1 1 0 1 1-2 0 4 4 0 0 0-4-4 1 1 0 0 1 0-2zm.5 7a1.5 1.5 0 1 1 0-3 1.5 1.5 0 0 1 0 3z"/>
        </svg>
    </a>
</div>
<hr>
{% for episode in feed.episodes %}
<div class="container my-3" style="background-color: #d0e6fd;">
    <div class="row py-1 align-items-center">
        <div class="col-2">
            <img class="w-75" src="{{ episode.image }}" alt="{{ feed.title }}">
        </div>
        <div class="col-10">
            <h3>{{ episode.title }}</h3>
        </div>
    </div>
    <div class="d-flex bd-highlight mb-3">
        <button class="p-2 bd-highlight btn btn-primary my-2" type="button"
                data-bs-toggle="collapse"
                data-bs-target="#collapseDescription{{ loop.index }}"
                aria-expanded="false"
                aria-controls="collapseExample{{ loop.index }}">
            Description
        </button>
        <span class="ms-auto p-2 bd-highlight badge badge-primary"
              style="color: #212529">{{ episode.published }}</span>
    </div>
    <div class="collapse" id="collapseDescription{{ loop.index }}">
        <div class="card card-body">
            {{ episode.description|safe }}
        </div>
    </div>
    <div>
        <audio controls class="my-2">
            <source src="{{ episode.enclosure.url }}"
                    type="{{ episode.enclosure.type }}">
        </audio>
    </div>
</div>
{% endfor %}
{% endblock %}